<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BitPoker.io</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <footer>
        Contact - Bitmessage: BM-2cT4qe3dZB1qsf5e8ZcZioERanD5pFqttd Email: bitpoker@protonmail.com
    </footer>
    <script src="Scripts/soon/plugins.js"></script>
    <script src="Scripts/soon/jquery.themepunch.revolution.min.js"></script>
    <script src="Scripts/soon/custom.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
